* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:"sidebar header"
    "sidebar main";
}

.sidebar {
    background-color: bisque;
    border: 2px solid black;
    grid-area: sidebar;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border: 2px solid blue;
    grid-area: header;
    padding: 15px;
    gap: 15px;
}

main {
    background-color: burlywood;
    border: 2px solid orange;
    grid-area: main;
    display: flex;
}

.main-cards {
    flex: 1;
}

.side-column {
    background-color: dimgrey;
    border: 2px solid coral;
    flex: 0 0 400px;
}

.symbol {
    height: 15px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

.top-row, .bottom-row{
    display: flex;
    justify-content: space-between;
}

.notification {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 10px;
}


.buttons {
    display: flex;
    gap: 10px;
}